<li class="active">
<a href="#">Teoremi Preferiti:<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level collapse in" aria-expanded="true">
    <%= backendSidebarThemes @favorite_theorems %>
  </ul>
</li>
