<li class="active">
<a href="#">Temi Principali:<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level collapse in" aria-expanded="true">
    <%= backendSidebarThemes @highlighted_themes %>
  </ul>
</li>
