<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <%= render partial: "layouts/backend/navigation/sidebar_search" %>
      <%#= render partial: "layouts/backend/navigation/favorite_themes" if current_user %>
      <%#= render partial: "layouts/backend/navigation/favorite_arguments" if current_user %>
      <%#= render partial: "layouts/backend/navigation/favorite_theorems" if current_user %>
      <%#= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </div>
</div>
