<p>
  Oppure, <%= link_to "esplora tutti gli argomenti", topics_path %>.
</p>
<% if searchs[:topics].any? %>
  <p>
    Oppure, potrebbero interessarti questi argomenti:<br/>
  <% searchs[:topics].sample(5).each do |topic| %>
    <%= link_to topic.name, topic %><br>
  <% end %>
    </p>
<% end %>

<% if searchs[:experts].any? %>
  <p>Oppure, potrebbero interessarti queste persone:</p>
  <% searchs[:experts].first(5).each do |user| %>
    <p><%= link_to user.name, user %></p>
  <% end %>
<% end %>

<% if searchs[:themes].any? %>
  <p>Oppure, puoi ricercare questi temi:</p>
  <% searchs[:themes].sample(5).each do |theme| %>
    <p><%= link_to "Cerca '#{theme.name}'", search_path(theme.name), remote: true %></p>
  <% end %>
<% end %>
