<div class="search-form-wrapper search-index">
  <%= render partial: "form_wrapped", locals: {q: @q} %>
</div>

<div id="results">
</div>

<div id="suggested">
  <%= render partial: "suggested", locals: {searchs: @searchs} %>
</div>