<div class="search-form-wrapper search-index">
  <%= render partial: "form_wrapped", locals: {q: @q} %>
</div>

<div id="results">
</div>

<div id="suggested">
  <%= render partial: "suggested", locals: {searchs: @searchs} %>
</div>

<script type="text/javascript">
  $(function(){
    $(document).on("click", ".show-more", function(e){
      e.preventDefault();
      $(".tr-type-" + $(this).data("type")).removeClass("hidden");
      $(this).parents("tr").remove();
    });
  });
</script>
