<div class="search-form-wrapper search-show">
  <%= render partial: "form_wrapped", locals: {q: @q} %>
</div>

<div id="results">
  <%= render partial: "results", locals: {experts: @experts, topics: @topics, users: @users, q: @q} %>
</div>