<div class="panel panel-primary">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
      <h4 class="panel-title">
        Crea un nuovo tema
      </h4>
    </a>
  </div>
  <div class="panel-collapse collapse" id="collapseOne">
    <div class="panel-body">
        <%= render partial: 'themes/form', locals: {theme: theme} %>
    </div>
    <div class="panel-footer">
      Temi già presenti: <%= list_names themes.pluck(:name) %>.
    </div>
  </div>
</div>


