<%= form_for(topic) do |f| %>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        Tema:
      </span>
      <%= f.collection_select :theme_id, Theme.all, :id, :name, {prompt: "Seleziona un tema"}, required: true, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        Nome dell'argomento:
      </span>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Aggiungi", class: "btn btn-primary" %>
  </div>
<% end %>
