<div class="panel panel-primary" id="">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" class="">
      <h4 class="panel-title">
        Crea un nuovo argomento
      </h4>
    </a>

  </div>
  <div class="panel-collapse collapse" id="collapseTwo">
    <div class="panel-body">
      <%= render partial: 'form', locals: {topic: topic} %>
    </div>

    <div class="panel-footer">
      <% themes.each do |theme| %>
        <div class="topics-list topics-list-theme-<%= theme.id %> hidden">
          Argomenti già presenti nel tema <%= theme.name %>: <%= list_names theme.topics.pluck(:name) %>.
        </div>
      <% end %>
    </div>
  </div>
</div>


