<footer class="footer">
  <div class="container-fluid">
    <p class="text-muted text-right">
      <a href="https://github.com/spiegami" target="_blank">Spiegami</a> 2017. Fatto con il <i class="fa fa-heart-o"></i> da <a href="mailto:spiegami.tutto@gmail.com">Carlo Martinucci</a>. Versione <%= link_to "0.1.3", changelog_path %>
    </p>
  </div>
</footer>
