<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
  <%= render partial: 'layouts/backend/navigation/header' %>
  <%= render partial: 'layouts/backend/navigation/top_links' %>
  <%= render partial: 'layouts/backend/navigation/sidebar' %>
</nav>
