<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
  <%= render partial: 'layouts/knowledge/navigation/header' %>
  <%= render partial: 'layouts/knowledge/navigation/top_links' %>
</nav>
