<h1>Trova Relatori</h1>
<h3>Un modo facile, veloce e efficace per trovare la persona con le caratteristiche che cerchi tra i soci e amici di Alleanza Cattolica</h3>

<p>Trova Relatori è un'applicazione che ti permette di individuare, all'interno di AC, le persone esperte o interessate a un argomento.</p>

<p>Hai bisogno di qualcuno che parli di un certo tema in un incontro pubblico? Ti serve una persona disponibile per fare una riunione interna su un certo argomento? Vuoi sapere chi è interessato ad una determinata tematica per iniziare un dialogo o creare un gruppo di lavoro? Qui puoi trovare queste persone.</p>

<p>Sei disponibile a parlare in pubblico su un argomento? Puoi fare riunioni interne? Sei semplicemente interessato? Inserisci le tue conoscenze e lasciati trovare.</p>

<h3>Come funziona?</h3>

<p>
  Gli argomenti sono raggruppati per temi. Per ogni argomento tu e ogni socio potete impostare il livello di conoscenza, scegliendo tra i seguenti cinque: Sconosciuto, Interessato, Riunione, Conferenza, Dibattito.
</p>

<p>
  <b>
    Sconosciuto
  </b>
  significa che non è un argomento attualmente nelle tue corde. Magari sai orientarti a grandi linee all'interno della tematica, ma non hai intenzione di affrontarlo sistematicamente a breve.
</p>

<p>
  <b>
    Interessato
  </b>
  significa che è un argomento sul quale vorresti conoscere di più e che hai intenzione di approfondire o hai iniziato ad approfondire, partecipando ad incontri o leggendo testi specifici.
</p>

<p>
  <b>
    Riunione
  </b>
  significa che sei abbastanza preparato da poter raccontare qualcosa dell'argomento in un contesto amichevole, durante un incontro interno.
</p>

<p>
  <b>
    Conferenza
  </b>
  significa che puoi affrontare e intrattenere sull'argomento un pubblico sconosciuto, e non impallidire di fronte a eventuali domande finali.
</p>

<p>
  <b>
    Dibattito
  </b>
  significa che puoi affrontare un contradditorio pubblico, sei consapevole delle obiezioni e delle diverse prospettive sull'argomento e sei in grado di difendere la tua posizione a 360 gradi.</p>
</p>

<hr>