<h1 class="text-center">Spiegami Backend</h1>
<p class="text-center">Questo è il backend di Spiegami.</p>
<p class="text-center">
  Se non sei già tra i collaboratori ma vorresti esserlo, registrati con il tuo indirizzo email e verrai contattato :)
</p>
