<h1>Modifica Argomentazione</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Tema</th>
      <th>Argomentazione</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'form', locals: {argument: @argument} %>
  </tbody>
</table>
