/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap_sb_admin_base_v2
 *= require select2
 *= require search
 *= require selectize
 *= require selectize.bootstrap3
 */

@includes "select2-bootstrap";

.nav > li > span {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-top-links li > span {
  padding: 15px;
  min-height: 50px;
}

#wrapper {
  position: relative;
}

#page-wrapper {
  padding-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  p {
    line-height: 49px;
    margin: 0 15px;
  }
}

.btn-table {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin: -5px 0;
}

// body {
//   margin: 0;
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 16px;
//   line-height: 1.4;
//   background-color: $color-secondary-lightest;
//   color: $color-primary-darkest;
//   h1 {
//     font-size: 3em;
//     font-weight: 400;
//     margin: 0;
//   }
//   h2 {
//     font-size: 1.8em;
//     font-weight: 400;
//     margin: 0;
//   }
//   h3 {
//     font-size: 1.4em;
//     font-weight: 400;
//   }
//   h4 {
//     font-size: 1.2em;
//     font-weight: 400;
//   }
// }


// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 16px;
//   line-height: 1.4;
// }


// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 14px;
// }

// a {
//   color: $color-secondary-darker;

//   &:visited {
//     color: $color-secondary-darker;
//   }

//   &:hover {
//     color: #A4C663;
//     background-color: #AA3939;
//   }
// }

// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }

// #notice {
//   // color: green;
// }

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px;
//   padding-bottom: 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;

//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px;
//     margin-bottom: 0px;
//     background-color: #c00;
//     color: #fff;
//   }

//   ul li {
//     font-size: 12px;
//     list-style: square;
//   }
// }

// input, textarea, keygen, select, button {
//     text-rendering: auto;
//     color: initial;
//     letter-spacing: normal;
//     word-spacing: normal;
//     text-transform: none;
//     text-indent: 0px;
//     text-shadow: none;
//     display: inline-block;
//     text-align: start;
//     margin: 0em 0em 0em 0em;
//     font: inherit;
// }

// header {
//   background-color: $color-primary-darker;
//   color: $color-secondary-lightest;
//   padding: $base-padding;
//   display: flex;
//   flex-flow: row nowrap;
//   justify-content: space-between;
// }

// .inline-flex {
//   display: flex;
//   flex-flow: row nowrap;
//   justify-content: space-between;
//   .sm {
//     flex: 0 1 200px;
//   }
//   .lg {
//     flex: 1 0 400px;
//   }
// }

// .inline-login {
//   display: flex;
//   flex-flow: row nowrap;
//   justify-content: space-between;
//   input#user_remember_me {
//     width: 21px;
//     height: 21px;
//     margin: 0;
//     vertical-align: middle;
//   }
//   .inline-login-block {
//     line-height: 28px;
//   }
// }

// .main {
//   padding: $base-padding;
// }

// .inline-create {
//   #claim_value {
//     width: 100%;
//   }
// }

// .form-block {
//   width: 100%;
// }

// .text-center {
//   text-align: center;
// }

// .table-fixed {
//   table-layout: fixed;
//   width: 100%;
//   .table-col-xs {width: 10%}
//   .table-col-sm {width: 20%}
//   .table-col-md {width: 40%}
//   .table-col-lg {width: 80%}
// }

.padding-left {
  padding-left: 1em;
  margin-bottom: 0.2em;
}

.form-control.selectize-control {
  height: 34px;
  .selectize-input {
    border-radius: 0;
  }
}

.panel-body {
  // padding-top: 0;
}

.panel-body.collapse, .panel-body.collapsing {
  padding: 0 15px;
}

.panel {
  margin-top: 15px;
}

.panel .new_theorem {
  margin: 15px 0;
}

.panel-primary .panel-heading a h4 {
  color: rgba(255,255,255,1);
  small {
    color: rgba(215, 215, 215, 0.6)
  }
}

.panel-primary .panel-heading a:hover h4,
.panel-primary .panel-heading a:focus h4,
.panel-primary .panel-heading a:active h4 {
  color: rgba(255,255,255,0.8);
  small {
    color: rgba(215, 215, 215, 0.4)
  }
}

.show-mode {
  .uneditable {
    display: inherit;
  }
  .editable {
    display: none;
  }
}

.edit-mode {
  .uneditable {
    display: none;
  }
  .editable {
    display: inherit;
  }
}