/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap_sb_admin_base_v2
 *= require select2
 *= require search
 *= require selectize
 *= require selectize.bootstrap3
 */

@includes "select2-bootstrap";
@import "variables";

.nav > li > span {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-top-links li > span {
  padding: 15px;
  min-height: 50px;
}

#wrapper {
  position: relative;
}

#page-wrapper {
  padding-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  p {
    line-height: 49px;
    margin: 0 15px;
  }
}

.btn-table {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin: -5px 0;
}

.padding-left {
  padding-left: 1em;
  margin-bottom: 0.2em;
}

.form-control.selectize-control {
  height: 34px;
  .selectize-input {
    border-radius: 0;
  }
}

.panel-body {
  // padding-top: 0;
}

.panel-body.collapse, .panel-body.collapsing {
  padding: 0 15px;
}

.panel {
  margin-top: 15px;
}

.panel .new_theorem {
  margin: 15px 0;
}

.panel-primary .panel-heading a h4 {
  color: rgba(255,255,255,1);
  small {
    color: rgba(215, 215, 215, 0.6)
  }
}

.panel-primary .panel-heading a:hover h4,
.panel-primary .panel-heading a:focus h4,
.panel-primary .panel-heading a:active h4 {
  color: rgba(255,255,255,0.8);
  small {
    color: rgba(215, 215, 215, 0.4)
  }
}

.show-mode {
  .uneditable {
    display: inherit;
  }
  .editable {
    display: none;
  }
}

.edit-mode {
  .uneditable {
    display: none;
  }
  .editable {
    display: inherit;
  }
}

@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
  color: rgba(10,15,21,0.8);
  font-family: 'Arimo', sans-serif;
}

.navbar-default .navbar-brand {
  color: $ac-red;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: darken($ac-red, 6%);
}

.navbar-top-links li a {
  color: rgba(100,100,100,1);
}

.nav > li > a:hover, .nav > li > a:focus {
  color: $ac-red;
  background-color: inherit;
}