$color-primary-lightest: #FFAAAA;
$color-primary-lighter: #D46A6A;
$color-primary: #AA3939;
$color-primary-darker: #801515;
$color-primary-darkest: #550000;


$color-secondary-lightest: #D2EE9E;
$color-secondary-lighter: #A4C663;
$color-secondary: #7A9F35;
$color-secondary-darker: #567814;
$color-secondary-darkest: #355000;

$base-padding: 20px;


$ac-red: #ce0c0c;