<footer class="footer">
  <div class="container-fluid">
    <p class="text-muted text-right pull-right">
      <%= mail_to "carlo.martinucci@gmail.com" do %>
        <span class="hidden-xs">
          Fatto con
        </span>
        <%= fa_icon "heart-o" %>
        <span class="hidden-xs">
          da Carlo Martinucci
        </span>
      <% end %>
    </p>
    <p class="text-muted text-left">
      <span class="hidden-xs">
        &copy; Spiegami
      </span>
      <%= link_to Time.now.year, help_path %>
    </p>
  </div>
</footer>
